$color-primaryFontColor: #ffffff;
$color-secondaryFontColor: #9d9db5;
$color-tertiaryFontColor: #d7f8ff;
$color-background-option1: #192140;
$color-background-font-1: #10131c;
$color-card-background: #f8f9fc;
$color-hover: #dcf10d;
$color-linkActive: #0266ff;
